export CACHETTL=37200
#export CIRCLE_TOKEN=abcdEFGH
export DBDIR=/var/lib/keenkreeper
export LOGDIR=/var/log/keengreeper
#export MAIL_RCPT=alerts@example.com
#export SLACK_HOOK_URL=AAAA/BBBB/CCCCCC
export SNYKTTL=86400
export TMPDIR=/var/tmp/keengreeper
export WORKDIR=/usr/src
